<div class="wrapper">
    <nav id="sidebar" class="active">
      <div class="sidebar-header">
        <img
          src="/assets/img/14.png"
          alt="bootraper logo"
          class="app-logo"
        />
      </div>
      <ul class="list-unstyled components text-secondary">
        <li>
          <a href="/<%=currentUser._id%>/streak"><i class="fas fa-fire"></i> Streak</a>
        </li>
        <li>
          <a href="/<%=currentUser._id%>/friends"><i class="fas fa-user-friends"></i> Friends</a>
        </li>
        <li>
          <a href="/<%=currentUser._id%>/exercise"><i class="fas fa-walking"></i> Exercise</a>
        </li>
        <li>
          <a href="/<%=currentUser._id%>/compete"><i class="fas fa-rocket"></i> Compete</a>
        </li>
        <li>
          <a href="/<%=currentUser._id%>/yoga"><i class="fas fa-rocket"></i> Yoga</a>
        </li>
        <li>
          <a href="/<%=currentUser._id%>/yoga_compete"><i class="fas fa-rocket"></i> Yoga Compete</a>
        </li>
        <li>
          <a href=""><i class="fas fa-user"></i> Profile</a>
        </li>
      </ul>
    </nav>
    <div id="body" class="active">
      <!-- navbar navigation component -->
      <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <button type="button" id="sidebarCollapse" class="btn btn-light">
          <i class="fas fa-bars"></i><span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <div class="nav-dropdown">
                <a
                  href="#"
                  id="nav2"
                  class="nav-item nav-link dropdown-toggle text-secondary"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user"></i>
                  <span><%= currentUser.name %></span>
                  <i style="font-size: 0.8em" class="fas fa-caret-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                  <ul class="nav-list">
                    <li>
                      <a href="" class="dropdown-item"
                        ><i class="fas fa-address-card"></i> Profile</a
                      >
                    </li>
                    <li>
                      <a href="" class="dropdown-item"
                        ><i class="fas fa-envelope"></i> Messages</a
                      >
                    </li>
                    <li>
                      <a href="" class="dropdown-item"
                        ><i class="fas fa-cog"></i> Settings</a
                      >
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                      <a href="/logout" class="dropdown-item"
                        ><i class="fas fa-sign-out-alt"></i> Logout</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- end of navbar navigation -->
      <div class="content">
        <div class="container">