<%- include('partials/header1'); -%>
<script
  src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/control_utils_3d.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css" />
<style>
  #exerciseDetails {
    margin-bottom: 20px;
  }
  .plyr--video {
    width: 70%;
  }
</style>
<%- include('partials/header2'); -%> <%- include('partials/navbar'); -%>

<div class="row">
  <p id="notification" hidden></p>
  <div class="entry-modal" id="entry-modal">
    <label for="Meet ID" class="form-label">Enter meet id</label>
    <input
      type="text"
      name="id"
      id="room-input"
      placeholder="Enter Room ID"
      class="form-control room-input"
      required
    />
    <input
      type="text"
      id="user-name"
      value="<%=currentUser.name%>"
      style="display: none"
    />

    <input
      type="text"
      id="user-id"
      value="<%=currentUser._id%>"
      style="display: none"
    />

    <div class="mt-3">
      <div>
        <input
          class="form-check-input"
          type="checkbox"
          value="Mountain"
          id="Mountain"
        />
        <label class="form-check-label" for="check1"> Mountain </label>
      </div>

      <div>
        <input
          class="form-check-input"
          type="checkbox"
          value="Triangle"
          id="Triangle"
        />
        <label class="form-check-label" for="check1"> Triangle </label>
      </div>

      <div>
        <input
          class="form-check-input"
          type="checkbox"
          value="Tree"
          id="Tree"
        />
        <label class="form-check-label" for="check1"> Tree </label>
      </div>

      <div>
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label" for="check1"> Cobra </label>
      </div>
    </div>

    <div class="mt-3">
      <button class="btn btn-primary" onclick="createRoom()">
        Create Room
      </button>
      <button class="btn btn-primary" onclick="joinRoom()">Join Room</button>
    </div>
  </div>
</div>

<div id="meetArea" style="display: none">
  <div class="row mb-4" id="exerciseDetails">
    <div class="col-md-6">
      <center>
        <video id="video" style="display: none">
          <source src="/assets/videos/triangle.mp4" type="video/mp4" />
        </video>
        <div
          id="player"
          data-plyr-provider="youtube"
          data-plyr-embed-id="2HTvZp5rPrg"
          style="width: 70%"
        ></div>
      </center>
    </div>
    <div class="col-md-6">
      <div class="row">
        <center>
          <h2>Pose Accuracy</h2>
          <div
            class="pie"
            data-pie='{ "rotation": 90,"percent":0,"colorSlice": "#4caf4f",
      "colorCircle": "#f1f1f1",
      "fontWeight": 100 }'
          ></div>
        </center>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      class="col-md-6"
      style="display: flex; align-items: center; justify-content: center"
    >
      <div>
        <video id="local-video" style="display: true; width: 500px"></video>
        <canvas
          class="output_canvas"
          width="500px"
          height="450px"
          style="display: none"
        ></canvas>
        <br />
        <button class="btn btn-primary mb-2" onclick="model()">
          Load Model
        </button>
        <button
          class="btn btn-primary mb-2"
          style="margin-left: 20px"
          onclick="play()"
        >
          Start
        </button>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div id="video-grid" class="d-flex"></div>
    </div>
  </div>
</div>

<%-include('partials/footer1'); -%>
<script>

  window.call = <%- JSON.stringify(call) %>;
</script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/plyr@3"></script>
<script src="/assets/js/circularProgressBar.min.js"></script>
<script src="/assets/js/yoga_compete.js"></script>
<%- include('partials/footer2'); -%>
